*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  text-align: center;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem;
}

@media screen and (min-width: 40rem) {
  #root {
    padding: 2rem;
  }
}

@media screen and (min-width: 80rem) {
  #root {
    padding: 4rem;
  }
}
